# Configuración de parámetros de red IPv6

# Habilitar el reenvío de paquetes IPv6
net.ipv6.conf.all.forwarding = 1
net.ipv6.conf.default.forwarding = 1

# Habilitar la autoconfiguración sin anuncio de router (SLAAC)
net.ipv6.conf.all.accept_ra = 1
net.ipv6.conf.default.accept_ra = 1

# Configuración de seguridad para IPv6
net.ipv6.conf.all.accept_redirects = 0
net.ipv6.conf.default.accept_redirects = 0
net.ipv6.conf.all.accept_source_route = 0
net.ipv6.conf.default.accept_source_route = 0

# Mejorar el rendimiento de IPv6
net.ipv6.neigh.default.gc_thresh1 = 1024
net.ipv6.neigh.default.gc_thresh2 = 2048
net.ipv6.neigh.default.gc_thresh3 = 4096

# Tamaño de la caché de rutas IPv6
net.ipv6.route.max_size = 4096

# Mejorar el rendimiento en redes con alta latencia
net.ipv6.tcp_fin_timeout = 30
net.ipv6.tcp_keepalive_time = 300
net.ipv6.tcp_keepalive_probes = 5
net.ipv6.tcp_keepalive_intvl = 15
