[global]
   workgroup = WORKGROUP
   server string = Servidor Samba Ubuntu
   security = user
   map to guest = Bad User
   dns proxy = no

[compartido]
   path = /srv/samba/compartido
   browseable = yes
   read only = no
   guest ok = yes
   create mask = 0777
   directory mask = 0777
