# Defaults for isc-dhcp-server6 (sourced by /etc/init.d/isc-dhcp-server6)

# Path to dhcpd's config file (default: /etc/dhcp/dhcpd6.conf).
DHCPDv6_CONF=/etc/dhcp/dhcpd6.conf

# Path to dhcpd's PID file (default: /var/run/dhcpd6.pid).
DHCPDv6_PID=/var/run/dhcpd6.pid

# Additional options to start dhcpd with.
#   Don't use options -cf or -pf here; use DHCPD_CONF/ DHCPD_PID instead
OPTIONS=""

# On what interfaces should the DHCP server (dhcpd) serve DHCP requests?
#   Separate multiple interfaces with spaces, e.g. "eth0 eth1".
INTERFACESv6="{% if dhcp_v6 is defined and dhcp_v6.interfaces is defined %}{{ dhcp_v6.interfaces | join(' ') }}{% else %}ens34{% endif %}"