---
# Instalación y configuración de Apache HTTP Server

- name: "Instalar Apache2 y módulos"
  apt:
    name:
      - apache2
      - apache2-utils
      - libapache2-mod-php
      - php
      - php-mysql
    state: present
    update_cache: yes

- name: "Habilitar módulos de Apache"
  apache2_module:
    name: "{{ item }}"
    state: present
  loop:
    - rewrite
    - ssl
    - headers
    - deflate
  notify: restart apache2

- name: "Crear directorio del sitio web"
  file:
    path: "{{ web_document_root }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: "Configurar sitio web principal"
  template:
    src: 000-default.conf.j2
    dest: /etc/apache2/sites-available/000-default.conf
    backup: yes
  notify: restart apache2

- name: "Crear página web del proyecto"
  template:
    src: index.html.j2
    dest: "{{ web_document_root }}/index.html"
    owner: www-data
    group: www-data
    mode: '0644'

- name: "Crear página de información del servidor"
  template:
    src: info.php.j2
    dest: "{{ web_document_root }}/info.php"
    owner: www-data
    group: www-data
    mode: '0644'

- name: "Configurar Apache para IPv6"
  template:
    src: ports.conf.j2
    dest: /etc/apache2/ports.conf
    backup: yes
  notify: restart apache2

- name: "Configurar seguridad de Apache"
  template:
    src: security.conf.j2
    dest: /etc/apache2/conf-available/security.conf
    backup: yes
  notify: restart apache2

- name: "Habilitar configuración de seguridad"
  command: a2enconf security
  notify: restart apache2
  changed_when: false

- name: "Habilitar sitio por defecto"
  command: a2ensite 000-default
  notify: restart apache2
  changed_when: false

- name: "Habilitar y iniciar Apache2"
  systemd:
    name: apache2
    enabled: yes
    state: started

- name: "Verificar estado del servicio Apache"
  systemd:
    name: apache2
  register: apache_status

- name: "Mostrar estado del servicio Apache"
  debug:
    msg: "Apache está {{ 'activo' if apache_status.status.ActiveState == 'active' else 'inactivo' }}"