---
# Configuraci칩n b치sica de auditor칤a del sistema

- name: "Configurar reglas b치sicas de auditor칤a"
  template:
    src: audit.rules.j2
    dest: /etc/audit/rules.d/audit.rules
    mode: '0640'
    backup: yes
  notify: restart auditd

- name: "Habilitar servicio auditd"
  systemd:
    name: auditd
    enabled: yes
    state: started

- name: "Configurar rotaci칩n de logs de auditor칤a"
  lineinfile:
    path: /etc/audit/auditd.conf
    regexp: '^max_log_file_action'
    line: 'max_log_file_action = rotate'
    backup: yes

- name: "Mostrar configuraci칩n de auditor칤a"
  debug:
    msg: |
      游댌 Auditor칤a b치sica configurada:
      - Monitorea cambios en /etc/passwd, /etc/shadow
      - Registra comandos sudo
      - Logs en: /var/log/audit/
      
      Comandos 칰tiles:
      - ausearch -m USER_LOGIN (logins)
      - ausearch -m SYSCALL -sc open (archivos abiertos)