---
# Configuraci칩n de Logwatch - An치lisis de logs

- name: "Configurar Logwatch"
  template:
    src: logwatch.conf.j2
    dest: /etc/logwatch/conf/logwatch.conf
    backup: yes
    mode: '0644'

- name: "Configurar servicios espec칤ficos de Logwatch"
  template:
    src: "{{ item }}.j2"
    dest: "/etc/logwatch/conf/services/{{ item }}"
    mode: '0644'
  loop:
    - bind9.conf
    - dhcpd.conf
    - fail2ban.conf

- name: "Crear configuraci칩n de email para Logwatch"
  template:
    src: logwatch-email.conf.j2
    dest: /etc/logwatch/conf/logwatch-email.conf
    mode: '0644'
  when: security_email_alerts | default(false)

- name: "Ejecutar Logwatch de prueba"
  command: logwatch --detail Low --mailto root --service All --range today
  register: logwatch_test
  changed_when: false
  failed_when: false

- name: "Mostrar configuraci칩n de Logwatch"
  debug:
    msg: |
      游늵 Logwatch configurado para an치lisis de logs
      Reportes diarios autom치ticos habilitados
      Servicios monitoreados: SSH, DNS, DHCP, Firewall, Fail2ban
      
      Comandos 칰tiles:
      - logwatch --detail High --range today
      - logwatch --service sshd --range week