---
# Configuraci칩n de limpieza autom치tica del sistema

- name: "Crear script de limpieza del sistema"
  template:
    src: system-cleanup.sh.j2
    dest: /usr/local/bin/system-cleanup.sh
    mode: '0755'

- name: "Programar limpieza semanal"
  cron:
    name: "Limpieza autom치tica del sistema"
    minute: "0"
    hour: "3"
    weekday: "0"
    job: "/usr/local/bin/system-cleanup.sh"
    user: root

- name: "Configurar l칤mites de journald"
  lineinfile:
    path: /etc/systemd/journald.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    backup: yes
  loop:
    - { regexp: '^#?SystemMaxUse=', line: 'SystemMaxUse=500M' }
    - { regexp: '^#?MaxRetentionSec=', line: 'MaxRetentionSec=1month' }
  notify: restart systemd-journald

- name: "Ejecutar limpieza inicial"
  command: /usr/local/bin/system-cleanup.sh --dry-run
  register: cleanup_initial
  changed_when: false

- name: "Mostrar configuraci칩n de limpieza"
  debug:
    msg: |
      游빛 Limpieza autom치tica configurada:
      
      Limpieza semanal (domingos 3:00 AM):
      - Logs antiguos (>30 d칤as)
      - Archivos temporales
      - Cache de paquetes
      - Journald (m치ximo 500MB)
      
      Ejecutar manualmente:
      - system-cleanup.sh --dry-run (simular)
      - system-cleanup.sh (ejecutar)