- name: Instalar paquetes base del sistema
  ansible.builtin.apt:
    name:
      - ufw
      - fail2ban
      - net-tools
      - curl
      - wget
      - vim
      - git
    state: present
    update_cache: yes
  become: true

- name: Existe el grupo
  ansible.builtin.group:
    name: "{{ item.name }}"
    state: "{{ item.state | default('present') }}"
    gid: "{{ item.gid | default(omit) }}"
  loop: "{{ unix_groups | default([]) }}"
  become: true

- name: usuario donde andas
  ansible.builtin.user:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    shell: "{{ item.shell | default(omit) }}"
    groups: "{{ item.groups | default(omit) }}"
    append: yes
    create_home: yes
    uid: "{{ item.uid | default(omit) }}"
    group: "{{ item.primary_group | default(omit) }}"
    comment: "{{ item.comment | default(omit) }}"
    home: "{{ item.home | default(omit) }}"
    password: "{{ item.password | default(omit) }}"
    remove: "{{ item.remove | default(false) }}"
  loop: "{{ users | default([]) }}"
  when: users is defined and users | length > 0
  become: true

- name: Croncroncron
  ansible.builtin.cron:
    name: "restart game updater"
    minute: "{{ (cron_time.split()[0]) | default('0') }}"
    hour: "{{ (cron_time.split()[1]) | default('3') }}"
    day: "{{ (cron_time.split()[2]) | default('*') }}"
    month: "{{ (cron_time.split()[3]) | default('*') }}"
    weekday: "{{ (cron_time.split()[4]) | default('*') }}"
    job: "systemctl restart {{ cron_restart_service | default('cron') }}"
  when: cron_time is defined and cron_restart_service is defined
  become: true

- name: Ensure filesystem permissions (generic)
  ansible.builtin.file:
     path: "{{ item.path }}"
     state: "{{ item.state | default('file') }}"
     owner: "{{ item.owner | default(omit) }}"
     group: "{{ item.group | default(omit) }}"
     mode: "{{ item.mode | default(omit) }}"
     recurse: "{{ item.recurse | default(false) }}"
  loop: "{{ filesystem_permissions | default([]) }}"
  become: true

- name: Check if ansible.posix collection is available
  ansible.builtin.set_fact:
    posix_available: "{{ ansible_collections.ansible.posix is defined }}"
  ignore_errors: true

- name: "Crear directorios de logs del proyecto"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: adm
    mode: '0755'
  loop:
    - /var/log/dns
    - /var/log/dhcp
    - /var/log/security
    - /var/log/ansible
  become: true

- name: "Configurar logging centralizado del proyecto"
  template:
    src: rsyslog-proyecto.conf.j2
    dest: /etc/rsyslog.d/30-proyecto-ipv6.conf
    owner: root
    group: root
    mode: '0644'
    backup: yes
  notify: restart rsyslog
  become: true

- name: "Configurar rotación de logs del proyecto"
  template:
    src: logrotate-proyecto.conf.j2
    dest: /etc/logrotate.d/proyecto-ipv6
    owner: root
    group: root
    mode: '0644'
  become: true

- name: "Crear script de monitoreo de logs"
  template:
    src: log-monitor.sh.j2
    dest: /usr/local/bin/log-monitor.sh
    owner: root
    group: root
    mode: '0755'
  become: true

- name: "Crear enlace simbólico para monitoreo de logs"
  file:
    src: /usr/local/bin/log-monitor.sh
    dest: /usr/local/bin/logs
    state: link
  become: true

- name: Ensure default ACLs for collaboration (optional)
  ansible.posix.acl:
    path: "{{ item.path }}"
    entity: "{{ item.entity }}"
    etype: "{{ item.etype | default('group') }}"
    permissions: "{{ item.permissions | default('rwx') }}"
    default: yes
    state: present
  loop: "{{ filesystem_default_acls | default([]) }}"
  when: posix_available | default(false)
