$TTL    604800
@       IN      SOA     ns1.{{ dns_domain_name }}. admin.{{ dns_domain_name }}. (
                     {{ ansible_date_time.epoch }}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
; Servidor de nombres
@       IN      NS      ns1.{{ dns_domain_name }}.
ns1     IN      AAAA    2025:db8:10::2

; Registro raíz del dominio
@       IN      AAAA    2025:db8:10::2

; Registros AAAA (IPv6)
{% for record in dns_records %}
{% if record.type == 'AAAA' %}
{{ record.name }}           IN      AAAA    {{ record.value }}
{% endif %}
{% endfor %}

; Registros CNAME
{% for record in dns_records %}
{% if record.type == 'CNAME' %}
{{ record.name }}    IN      CNAME   {{ record.value }}.{{ dns_domain_name }}.
{% endif %}
{% endfor %}

; Registros adicionales para servicios
dhcp     IN      AAAA    {{ dns_ipv6_gateway }}
router   IN      AAAA    {{ dns_ipv6_gateway }}
