// Configuración principal de BIND9
// Generado por Ansible

include "/etc/bind/named.conf.options";
include "/etc/bind/named.conf.local";
// named.conf.default-zones comentado para evitar conflictos con DNS64
// include "/etc/bind/named.conf.default-zones";

// La clave TSIG se incluye automáticamente por Ansible
