//
// Configuración de zonas locales para {{ dns_domain_name }}
//

// Zona directa con soporte DDNS
zone "{{ dns_domain_name }}" {
    type master;
    file "/var/lib/bind/db.{{ dns_domain_name }}";
    allow-update { key dhcp-key; localhost; };
    allow-query { any; };
};

// Zona inversa IPv6 con soporte DDNS
zone "{{ dns_ipv6_reverse_zone }}" {
    type master;
    file "/var/lib/bind/db.{{ dns_ipv6_reverse_zone }}";
    allow-update { key dhcp-key; localhost; };
    allow-query { any; };
};      grant dhcp-key zonesub any;
    };
    journal "/var/lib/bind/db.{{ dns_ipv6_reverse_zone }}.jnl";
};