---
# Instalación y configuración básica de DHCP

- name: Instalar ISC DHCP Server
  apt:
    name: isc-dhcp-server
    state: present
    update_cache: yes

- name: Crear archivo dhcpd.conf mínimo para IPv4
  template:
    src: dhcpd.conf.j2
    dest: /etc/dhcp/dhcpd.conf
    owner: root
    group: root
    mode: '0644'

- name: Configurar interfaces para DHCP
  template:
    src: isc-dhcp-server.j2
    dest: /etc/default/isc-dhcp-server
    owner: root
    group: root
    mode: '0644'
    backup: yes

- name: Configurar DHCPv6
  template:
    src: dhcpd6.conf.j2
    dest: /etc/dhcp/dhcpd6.conf
    owner: root
    group: root
    mode: '0644'

- name: Verificar si archivo de leases existe
  stat:
    path: /var/lib/dhcp/dhcpd6.leases
  register: leases_file

- name: Crear archivo de leases si no existe
  file:
    path: /var/lib/dhcp/dhcpd6.leases
    state: touch
    owner: dhcpd
    group: dhcpd
    mode: '0644'
  when: not leases_file.stat.exists

- name: Asegurar permisos del archivo de leases
  file:
    path: /var/lib/dhcp/dhcpd6.leases
    owner: dhcpd
    group: dhcpd
    mode: '0644'
  when: leases_file.stat.exists

- name: Habilitar IPv6 forwarding
  sysctl:
    name: net.ipv6.conf.all.forwarding
    value: '1'
    state: present
    reload: yes
