---
# Instalación y configuración de BIND9 para DNS

- name: "Actualizar caché de apt"
  apt:
    update_cache: yes
    cache_valid_time: 3600
  retries: 3
  delay: 10
  register: apt_update
  until: apt_update is success

- name: "Instalar BIND9 y herramientas DNS"
  apt:
    name:
      - bind9
      - bind9utils
      - bind9-doc
      - dnsutils
    state: present
  retries: 3
  delay: 10

- name: "Crear directorio para zonas DNS"
  file:
    path: /etc/bind/zones
    state: directory
    owner: bind
    group: bind
    mode: '0755'

- name: "Crear directorio para logs de BIND"
  file:
    path: /var/log/named
    state: directory
    owner: bind
    group: bind
    mode: '0755'

- name: "Configurar named.conf principal"
  template:
    src: named.conf.j2
    dest: /etc/bind/named.conf
    owner: root
    group: bind
    mode: '0644'
    backup: yes
  notify: restart bind9

- name: "Configurar named.conf.options"
  template:
    src: named.conf.options.j2
    dest: /etc/bind/named.conf.options
    owner: root
    group: bind
    mode: '0644'
    backup: yes
  notify: restart bind9

- name: "Configurar named.conf.local"
  template:
    src: named.conf.local.j2
    dest: /etc/bind/named.conf.local
    owner: root
    group: bind
    mode: '0644'
    backup: yes
  notify: restart bind9

- name: "Crear zona directa para el dominio"
  template:
    src: db.domain.j2
    dest: "/etc/bind/zones/db.{{ dns_domain_name }}"
    owner: bind
    group: bind
    mode: '0644'
    backup: yes
  notify: restart bind9

- name: "Crear zona inversa IPv6"
  template:
    src: db.ipv6.reverse.j2
    dest: "/etc/bind/zones/db.{{ dns_ipv6_reverse_zone }}"
    owner: bind
    group: bind
    mode: '0644'
    backup: yes
  notify: restart bind9

- name: "Configurar logrotate para BIND"
  template:
    src: bind-logrotate.j2
    dest: /etc/logrotate.d/bind9
    owner: root
    group: root
    mode: '0644'

- name: "Habilitar y iniciar servicio BIND9"
  systemd:
    name: bind9
    enabled: yes
    state: started

- name: "Verificar configuración de BIND"
  command: named-checkconf
  register: bind_config_check
  changed_when: false
  failed_when: bind_config_check.rc != 0

- name: "Verificar zona directa"
  command: "named-checkzone {{ dns_domain_name }} /etc/bind/zones/db.{{ dns_domain_name }}"
  register: zone_check
  changed_when: false
  failed_when: zone_check.rc != 0

- name: "Abrir puertos DNS en firewall"
  ufw:
    rule: allow
    port: "53"
    proto: "{{ item }}"
  loop:
    - tcp
    - udp
  when: ansible_os_family == "Debian"